
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Site</title>
    <meta name="author" content="Dylan Godfrey">
    <meta name="description" content="Exterior home improvement company after storm damages.">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
      <div class="top-bar " style="height: 40px; background-color: black">
          <div class="top-bar-left show-for-medium "  >
           <ul class="menu" style="height: 40px; background-color: black ">
             <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true" style="color:white;"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true" style="color:white;"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true" style="color:white;"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true" style="color:white;"></i></a></li>
           </ul>
          </div>
          <div class="top-bar-right  " >
            <ul class="menu" style=" background-color: black">
              <li class="text-right" alt="Quick Contact 443 255 9586" style="color:white;"> <span class="show-for-medium">Contact:</span>  (443) 255-9586</li>
            </ul>
          </div>
        </div>
          <nav>
           
        
    <div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>
    
            <ul class="vertical menu" data-accordion-menu>
              <li><a href="#">SERVICES</a>
                <ul class="menu vertical nested">
                  <li><a href="#">Brand</a></li>
                  <li><a href="#">Web Apps</a></li>
                  <li><a href="#">Mobile Apps</a></li>
                 </ul>
              </li>
              <li><a href="#">PRODUCTS</a>
                <ul class="menu vertical nested">
                  <li><a href="#">Product 1</a></li>
                  <li><a href="#">Product 2</a></li>
                  <li><a href="#">Product 3</a></li>
                 </ul>
               </li>
              <li><a href="#">CITIES</a>
                <ul class="menu vertical nested">
                  <li><a href="#">London</a></li>
                  <li><a href="#">New York</a></li>
                  <li><a href="#">Paris</a></li>
                 </ul>
              </li>
             </ul>
            <ul class="vertical menu">
              <li class="off-canvas-menu-item"><a href="#">Tour</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Support</a></li>
            </ul>
            <ul class="vertical menu">
               <li><a href="#">Journal</a></li>
               <li><a href="#">FAQ</a></li>
               <li><a href="#">Terms & Conditions</a></li>
               <li><a href="#">Careers</a></li>
               <li><a href="#">Students</a></li>
             </ul>
            <ul class="menu simple social-links">
              <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          
            <div class="off-canvas-content" data-off-canvas-content>
              <div class="nav-bar">
                  <div class="nav-bar-left">
                      <ul class="menu">
                           <li class="show-for-large"><a class="nav-bar-logo"><img class="logo" src="/images/Logo.png"></a></li>
                          <li class="show-for-medium"><span style="color: white; font-size: bolder;">Martellini Construction</span></li>
                  </div>
                  <div class="nav-bar-right" >
                    <ul class="menu">
                        <li class="show-for-large"><a href="/">Home</a></li>
                        <li class="show-for-large"><a href="about">About</a></li>
                        <li class="show-for-large"><a href="services">Our Services</a></li>
                        <li class="show-for-large" ><a href="contact">Contact</a></li>
                      <li>
                      <li class="hide-for-large" style="height: 12vh;">
                        <button class="offcanvas-trigger" style="height: 12vh;" type="button" data-open="offCanvasRight">
                          <span class="offcanvas-trigger-text ">Menu</span>
                          <div class="hamburger">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                          </div>
                        </button>
                      </li>
                    </ul>
                </div>
              </div>
             </div>
          </nav>
    
    <div class="relative"  role="region" aria-label="Picture of Team Members" >
           
                      <figure >
                        <img  src="/images/model-lg.jpg" alt="Picture of Team Members">
                        <figcaption class="absoulte">Who We Are</figcaption>
                      </figure>
                    </li>
                    
                  </ul>
    </div>
    <div class="container grid-x grid-padding-x grid-padding-y">
        <div class="cell large-3"> 
                <img class="thumbnail" src="/images/model-sm.jpeg" alt="Picture of Team Members">
                <p class="text-center">John Doe</p>
        </div>
        <div class="cell large-3"> 
                <img class="thumbnail" src="/images/model-sm.jpeg" alt="Picture of Team Members">
                <p class="text-center">John Doe</p>
        </div>
        <div class="cell large-3"> 
                <img class="thumbnail" src="/images/model-sm.jpeg" alt="Picture of Team Members">
                <p class="text-center">John Doe</p>
        </div>
        <div class="cell large-3"> 
                <img class="thumbnail" src="/images/model-sm.jpeg" alt="Picture of Team Members">
                <p class="text-center">John Doe</p>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__logo-box">
            
           <!--     
            <picture class="footer__logo">
                <source srcset="img/logo-green-small 1x, img/logo-green-small 2x" media="(max-width: 37.5em)">
                    <img srcset="img/logo-green-1x.png 1x,img/logo-green-2x.png 2x" alt="Logo " class="footer__logo">         
                       </picture>   
            srcset= "path density" mobile optimization
               <img srcset="img/logo-green-1x.png 1x,img/logo-green-2x.png 2x" alt="Logo " class="footer__logo">-->
            <div class="grid-x">
                <div class="cell large-12">
                    <img src="Logo.png" alt="Logo" style="width: 15vw">
                    <p style="color: white; font-weight: bold">Martellini Construction</p>
                </div>
                <div class="cell large-12">

                    <div class="footer__navigation">
                        <ul class="footer__list">
                            <li class="footer__item"><a href="/" class="footer__link">Home</a></li>
                            <li class="footer__item"><a href="about" class="footer__link">About</a></li>
                            <li class="footer__item"><a href="services" class="footer__link">Services</a></li>
                            <li class="footer__item"><a href="contact" class="footer__link">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell large-12">
                    <p class="footer__copyright">
                        Built by <a href="#" class="footer__link" >Dylan Godfrey</a> Content is subjected to copyright infringement.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
  </body>
</html>