
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Site</title>
    <meta name="author" content="Dylan Godfrey">
    <meta name="description" content="Exterior home improvement company after storm damages.">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
        <div class="top-bar " style="height: 40px; background-color: black">
                <div class="top-bar-left show-for-medium "  >
                 <ul class="menu" style="height: 40px; background-color: black ">
                   <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true" style="color:white;"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true" style="color:white;"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true" style="color:white;"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true" style="color:white;"></i></a></li>
                 </ul>
                </div>
                <div class="top-bar-right  " >
                  <ul class="menu" style=" background-color: black">
                    <li class="text-right" alt="Quick Contact 443 255 9586" style="color:white;"> <span class="show-for-medium">Contact:</span>  (443) 255-9586</li>
                  </ul>
                </div>
              </div>
                <nav>
                 
              
          <div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>
          
                  <ul class="vertical menu" data-accordion-menu>
                    <li><a href="#">SERVICES</a>
                      <ul class="menu vertical nested">
                        <li><a href="#">Brand</a></li>
                        <li><a href="#">Web Apps</a></li>
                        <li><a href="#">Mobile Apps</a></li>
                       </ul>
                    </li>
                    <li><a href="#">PRODUCTS</a>
                      <ul class="menu vertical nested">
                        <li><a href="#">Product 1</a></li>
                        <li><a href="#">Product 2</a></li>
                        <li><a href="#">Product 3</a></li>
                       </ul>
                     </li>
                    <li><a href="#">CITIES</a>
                      <ul class="menu vertical nested">
                        <li><a href="#">London</a></li>
                        <li><a href="#">New York</a></li>
                        <li><a href="#">Paris</a></li>
                       </ul>
                    </li>
                   </ul>
                  <ul class="vertical menu">
                    <li class="off-canvas-menu-item"><a href="#">Tour</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Support</a></li>
                  </ul>
                  <ul class="vertical menu">
                     <li><a href="#">Journal</a></li>
                     <li><a href="#">FAQ</a></li>
                     <li><a href="#">Terms & Conditions</a></li>
                     <li><a href="#">Careers</a></li>
                     <li><a href="#">Students</a></li>
                   </ul>
                  <ul class="menu simple social-links">
                    <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                
                  <div class="off-canvas-content" data-off-canvas-content>
                    <div class="nav-bar">
                        <div class="nav-bar-left">
                            <ul class="menu">
                                 <li class="show-for-large"><a class="nav-bar-logo"><img class="logo" src="/images/Logo.png"></a></li>
                                <li class="show-for-medium"><span style="color: white; font-size: bolder;">Martellini Construction</span></li>
                        </div>
                        <div class="nav-bar-right" >
                          <ul class="menu">
                              <li class="show-for-large"><a href="/">Home</a></li>
                              <li class="show-for-large"><a href="about">About</a></li>
                              <li class="show-for-large"><a href="services">Our Services</a></li>
                              <li class="show-for-large" ><a href="contact">Contact</a></li>
                            <li>
                            <li class="hide-for-large" style="height: 12vh;">
                              <button class="offcanvas-trigger" style="height: 12vh;" type="button" data-open="offCanvasRight">
                                <span class="offcanvas-trigger-text ">Menu</span>
                                <div class="hamburger">
                                  <span class="line"></span>
                                  <span class="line"></span>
                                  <span class="line"></span>
                                </div>
                              </button>
                            </li>
                          </ul>
                      </div>
                    </div>
                   </div>
                </nav>
    
    
        <header>
            <div class=" relative" role="region" aria-label="Pictures of Houses" data-orbit>
                    <figure class=" bg-video">
                            <video class="bg-video" autoplay muted loop>
                                <source src="ariel.mp4" type="video/mp4" alt="video of houses roofs">
                                <source src="ariel.webm" type="video/webm">
                                    Browser is not supported
                            </video>
                        
                      </figure>
    
                  <div class="header-text absolute " alt="Text of martellini construction">
                    
                      <div >
                          <h2> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus doloribus </h2>
                          <p>voluptate, perspiciatis, aliquam aspernatur optio nostrum excepturi vero reiciendis, deleniti dolor similique commodi praesentium aperiam incidunt sed architecto pariatur accusantium.</p>
                      </div>
                  </div>
    
            </div>
            
        </header>
        <main>
          <section class="section-about relative">
            <div class="u-center-text u-margin-button-big ">
                <h2 class="heading-secondary u-margin-button-big">
                        Header for Main Page
                </h2>
            </div>
                <div class="grid-x u-center-text">
                        <div class="cell large-6">
                            <h3 class="heading-tertiary paragraph">Your going to fall in love with nature</h3>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quas, ipsa sint et, suscipit doloremque minima sequi, magnam necessitatibus nesciunt voluptates aliquid. Saepe, laborum. Iure praesentium sed placeat iusto quod.</p>
                            <h3 class="heading-tertiary paragraph">Your going to fall in love with nature</h3>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quas, ipsa sint et, suscipit doloremque minima sequi, magnam necessitatibus nesciunt voluptates aliquid. Saepe, laborum. Iure praesentium sed placeat iusto quod.</p>
                        </div>
                        <div class="cell large-6">
                                <div class="composition">
                                    <img srcset="/images/work-sm.jpeg 300w, /images/work-lg.jpeg 1000w"
                                    sizes="(max-width: 900px) 20vw, (max-width: 600px) 30vw, 300px" 
                                    class="composition__photo composition__photo--p1"
                                    src="/images/work-lg.jpeg"
                                    alt="Photo of nature">
    
                                    <img srcset="/images/houses2-sm.jpeg 300w, /images/houses2-lg.jpeg 1000w"
                                    sizes="(max-width: 900px) 20vw, (max-width: 600px) 30vw, 300px" 
                                    class="composition__photo composition__photo--p2"
                                    src="/images/houses2-lg.jpeg"
                                    alt="Photo of nature">
    
                                    <img srcset="/images/houses3-sm.jpeg 300w, /images/houses3-lg.jpeg 1000w"
                                    sizes="(max-width: 900px) 20vw, (max-width: 600px) 30vw, 300px" 
                                    class="composition__photo composition__photo--p3"
                                    src="/images/houses3-lg.jpeg"
                                    alt="Photo of nature">
                                    <!--
                                    <img src="img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                                    <img src="img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                                    <img src="img/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
                                    -->
                                </div>
                        </div>
                 </div>
            
        </section>
        
        <section class="section-features">
    
            <div class="grid-x grid-padding-x">
                <div class="cell large-4">
                        <div class="feature-box">
                            <div class="feature-picture feature-picture--1">
                                &nbsp;
                            </div> 
                                <h3 class="heading-tertiary u-margin-button-small">Card Headers</h3>
                                <p class="feature-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quas, ipsa sint et, suscipit doloremque minima sequi, magnam ne</p>
         
                        </div>
                </div>
                <div class="cell large-4">
                    <div class="feature-box">
                        <div class="feature-picture feature-picture--2">
                            &nbsp;
                        </div> 
                            <h3 class="heading-tertiary u-margin-button-small">Card Headers</h3>
                            <p class="feature-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quas, ipsa sint et, suscipit doloremque minima sequi, magnam ne</p>
     
                    </div>
            </div>
            <div class="cell large-4">
                <div class="feature-box">
                    <div class="feature-picture feature-picture--3">
                        &nbsp;
                    </div> 
                        <h3 class="heading-tertiary u-margin-button-small">Card Headers</h3>
                        <p class="feature-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quas, ipsa sint et, suscipit doloremque minima sequi, magnam ne</p>
    
                </div>
        </div>
                
            </div>
        </section>
        <section class="certification">
            <p class="text-center" style="color: white; padding: 0 20px; font-size: 22px;"> Integritity is a priority here at Martellini Construction. All of our sales representatives are licensed under MHIC & DLLR. Our contractors also are certified to practice by MHIC. We strive to ensure our workers conduct the up most ethical practices with our clients!</p>
        </section>
        <section class="section-book">
                <div class="row">
                    <div class="book">
                        <div class="book__form">
                            
                            <form  class="form" method="POST" action="send">
                                    <div class="u-center-text u-margin-button-small ">
                                        <h2 class="heading-secondary ">
                                                Get Quote Now
                                        </h2>
    
                                    </div>
                                <div class="form_group">
                                    <input name="name" type="text" class="form__input" placeholder="Full Name" id="name" required>
                                    <label for="name" class="form__label">Full Name</label>
                                
                                </div>
                                <div class="form__group">
                                        <input name="email" type="email" class="form__input" placeholder="Email Address" id="email" required>
                                        <label for="email" class="form__label">Email Address</label>
        
                                </div>
                                
                                <div class="form__group">
                                        <textarea name="message" rows="10" cols="15" placeholder="description" required></textarea>
                                </div>
                                <div class="form__group">
                                    <!--same name buttons can only select one -->
                                    <div class="form__radio-group">
                                        <input name="size" type="radio" class="form__radio-input" id="small">
                                        <label for="small" class="form__radio-label">
                                            <span class="form__radio-button"> </span>
                                          <span style="font-size: 30px; color: steelblue;">Storm Damage</span>  
                                            
                                        </label>
                                    </div>
                                    <div class="form__radio-group">
                                            <input name="size" type="radio" class="form__radio-input" id="large">
                                            <label for="large" class="form__radio-label">
                                            <span class="form__radio-button"> </span>
                                                  <span style="font-size: 30px; color: steelblue;">Exterior Work</span>  
                                            
                                             </label>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <button type="submit" > Next Step &rarr;</button>
                                </div>    
                            </form>
                        </div>
                    </div>
                </div>
            </section>
      </main>
    
    
      <footer class="footer">
            <div class="footer__logo-box">
                
               <!--     
                <picture class="footer__logo">
                    <source srcset="img/logo-green-small 1x, img/logo-green-small 2x" media="(max-width: 37.5em)">
                        <img srcset="img/logo-green-1x.png 1x,img/logo-green-2x.png 2x" alt="Logo " class="footer__logo">         
                           </picture>   
                srcset= "path density" mobile optimization
                   <img srcset="img/logo-green-1x.png 1x,img/logo-green-2x.png 2x" alt="Logo " class="footer__logo">-->
                <div class="grid-x">
                    <div class="cell small-12 medium-12 large-12">
                        <img src="Logo.png" alt="Logo" style="width: 15vw">
                        <p style="color: white; font-weight: bold">Martellini Construction</p>
                    </div>
                    <div class="cell small-12 medium-12 large-12">

                        <div class="footer__navigation">
                            <ul class="footer__list">
                                <li class="footer__item"><a href="/" class="footer__link">Home</a></li>
                                <li class="footer__item"><a href="about" class="footer__link">About</a></li>
                                <li class="footer__item"><a href="services" class="footer__link">Services</a></li>
                                <li class="footer__item"><a href="contact" class="footer__link">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cell small-12 medium-12 large-12">
                        <p class="footer__copyright">
                            Built by <a href="#" class="footer__link" >Dylan Godfrey</a> Content is subjected to copyright infringement.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    <div class="popup" id="popup">
            <div class="popup__content">
                <div class="popup__left">
                   
                </div>
                <div class="popup__right">
                    <a href="#section-tours" class="popup__close">&times;</a>
                    Your message was sent and we will get back with you shortly
                     <a href="/">Return</a>
    
                </div>
            </div>
        </div>
        <script src="js/app.js"></script>
  </body>
  
</html>