
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dylan Godfrey">
    <meta name="description" content="Exterior home improvement company after storm damages.">
    <title>Demo Site</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
        <div class="top-bar " style="height: 40px; background-color: black">
                <div class="top-bar-left show-for-medium "  >
                 <ul class="menu" style="height: 40px; background-color: black ">
                   <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true" style="color:white;"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true" style="color:white;"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true" style="color:white;"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true" style="color:white;"></i></a></li>
                 </ul>
                </div>
                <div class="top-bar-right  " >
                  <ul class="menu" style=" background-color: black">
                    <li class="text-right" alt="Quick Contact 443 255 9586" style="color:white;"> <span class="show-for-medium">Contact:</span>  (443) 255-9586</li>
                  </ul>
                </div>
              </div>
                <nav>
                 
              
          <div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>
          
                  <ul class="vertical menu" data-accordion-menu>
                    <li><a href="#">SERVICES</a>
                      <ul class="menu vertical nested">
                        <li><a href="#">Brand</a></li>
                        <li><a href="#">Web Apps</a></li>
                        <li><a href="#">Mobile Apps</a></li>
                       </ul>
                    </li>
                    <li><a href="#">PRODUCTS</a>
                      <ul class="menu vertical nested">
                        <li><a href="#">Product 1</a></li>
                        <li><a href="#">Product 2</a></li>
                        <li><a href="#">Product 3</a></li>
                       </ul>
                     </li>
                    <li><a href="#">CITIES</a>
                      <ul class="menu vertical nested">
                        <li><a href="#">London</a></li>
                        <li><a href="#">New York</a></li>
                        <li><a href="#">Paris</a></li>
                       </ul>
                    </li>
                   </ul>
                  <ul class="vertical menu">
                    <li class="off-canvas-menu-item"><a href="#">Tour</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Support</a></li>
                  </ul>
                  <ul class="vertical menu">
                     <li><a href="#">Journal</a></li>
                     <li><a href="#">FAQ</a></li>
                     <li><a href="#">Terms & Conditions</a></li>
                     <li><a href="#">Careers</a></li>
                     <li><a href="#">Students</a></li>
                   </ul>
                  <ul class="menu simple social-links">
                    <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                
                  <div class="off-canvas-content" data-off-canvas-content>
                    <div class="nav-bar">
                        <div class="nav-bar-left">
                            <ul class="menu">
                                 <li class="show-for-large"><a class="nav-bar-logo"><img class="logo" src="/images/Logo.png"></a></li>
                                <li class="show-for-medium"><span style="color: white; font-size: bolder;">Martellini Construction</span></li>
                        </div>
                        <div class="nav-bar-right" >
                          <ul class="menu">
                              <li class="show-for-large"><a href="/">Home</a></li>
                              <li class="show-for-large"><a href="about">About</a></li>
                              <li class="show-for-large"><a href="services">Our Services</a></li>
                              <li class="show-for-large" ><a href="contact">Contact</a></li>
                            <li>
                            <li class="hide-for-large" style="height: 12vh;">
                              <button class="offcanvas-trigger" style="height: 12vh;" type="button" data-open="offCanvasRight">
                                <span class="offcanvas-trigger-text ">Menu</span>
                                <div class="hamburger">
                                  <span class="line"></span>
                                  <span class="line"></span>
                                  <span class="line"></span>
                                </div>
                              </button>
                            </li>
                          </ul>
                      </div>
                    </div>
                   </div>
                </nav>
    
    <main>
        <section >
                <div class="orbit relative" role="region" aria-label="Favorite Space Pictures" data-orbit>
                        
                                      <video class="bg-video" style="opacity: 0.5;" autoplay muted loop>
                                          <source src="/videos/storm.mp4" type="video/mp4" alt="video of houses roofs">
                                          <source src="/videos/storm.webm" type="video/webm">
                                              Browser is not supported
                                      </video>     
                          <div class="text-center absolute " style="top: 10%; padding: 0 10vw; color: whitesmoke">
                                <h1>Storm Damage?</h1>
                                <p>Storms in the DMV area are always scary, because of the potential damage to your house that can jeopardizes your safety. Our area has a volatile weather pattern, resulting in random damage on unexpected days.
                                </p>
                        </div>
            
                    </div>
                </section>
      <section class="grid-container">
        <div>
            <br>
            
            <h2 class="text-center"> We Provide High Quality Exterior Repairs!</h2>
            <br>
            <p> <span style="font-weight: bold; font-size: 30px;">Rain and Hail</span> can leave dents and fractures in roof shingles that often go unnoticed! Homes depend on shingles to protect from leakage and even sun damage. It is imperative to have damage shingles fixed immediately. Our experienced contracters have a keen eye for finding impurities and any anomalies on your exterior, keeping your family and property safe.
            </p>
            <br>
            <br>
            <div class="grid-x grid-padding-x">
            <img class="cell small-4 " style="border-radius: 40px; height: 50%;"src="/images/roof.jpg" alt="damaged exterior of house">
            <p class="cell auto">
                    <span style="font-weight: bold; font-size: 30px;">High winds</span>  can quickly damage shingles leaving your roof exposed to possible leakage and more damage due to an increase in shear stress. Shingles will be blown of your roof and possibly into other homeowners profits. We replace your shingles with resilient refined shingles that work better than the previous.
            </p>
        </div>
        </div>
        
    </section>
    <section class="section-details" id="section-details">
            <div class="u-center-text u-margin-button-big ">
                    <h2 class="heading-secondary ">
                        Featured Exterior Services
                    </h2>
            </div>
            <div class="grid-x grid-padding-x">
                    <div class="cell small-12 large-6">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--1">
                                    &nbsp;
                                </div> 
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--1 ">Damages to Roofs</span>
                                   
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>Fast Home Survey</li>
                                        <li>Innovative Modern Replacements</li>
                                        <li>Gutter Replacements</li>
                                        <li>Leaks & Water Spots Fixed</li>
                                        <li>Shingles Broken/Dented/Missing Replacement</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-1"> 
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Our mission is to make sure your house is repaired looking better than ever!
                                                Our contractors work with you and your insurance providing the most ethical and cost-efficient solutions.
                                                </p>
                                    </div>
                                </div>
    
                                </div>
                        </div>
                        
                    </div>
                    <div class="cell small-12 large-6">
                            <div class="card">
                                <div class="card__side card__side--front">
                                    <div class="card__picture card__picture--1">
                                        &nbsp;
                                    </div> 
                                    <h4 class="card__heading">
                                        <span class="card__heading-span card__heading-span--1 "> Damages to House</span>
                                       
                                    </h4>
                                    <div class="card__details">
                                        <ul>
                                            <li>Solutions to Patios/Decks Damaged </li>
                                            <li>Exterior Decorations Repairment</li>
                                            <li>Damaged Window Services</li>
                                            <li>Replacements from Proven Products</li>
                                            <li>Contractor You Can TRUST </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card__side card__side--back card__side--back-1"> 
                                    <div class="card__cta">
                                        <div class="card__price-box">
                                            <p class="card__price-only">We experienced making the decisions with no ambiguity for our clients. Our professionalism and goals ensure your exterior will be repaired in a timely-manner.</p>   
                                        </div>
                                    </div>
        
                                    </div>
                            </div>
                            
                        </div>
                </div>
            </section>
            <div class="grid-container">
                    <br><br>
                    <h3 class="text-center" style="font-weight: bold; font-size: 30px;">Do I Have to Pay?</h3>
                    <p>
                       We survey your house for you and work with your adjuster to identify the type of damage done to your property. Depending on the cause and your insurance will determine whether your insurance will cover your costs. For a majority of our clients, they've had their exteriors improved at no cost to them! Moreover, our licensed workers adds validity to insurance companies, which allows us to save our clients money. Every client is different so apply now for a <a href="#">FREE Quote!</a> 
                    </p>
                    <br>
                </div>
    </main>
    <footer class="footer">
            <div class="footer__logo-box">
                
               <!--     
                <picture class="footer__logo">
                    <source srcset="img/logo-green-small 1x, img/logo-green-small 2x" media="(max-width: 37.5em)">
                        <img srcset="img/logo-green-1x.png 1x,img/logo-green-2x.png 2x" alt="Logo " class="footer__logo">         
                           </picture>   
                srcset= "path density" mobile optimization
                   <img srcset="img/logo-green-1x.png 1x,img/logo-green-2x.png 2x" alt="Logo " class="footer__logo">-->
                <div class="grid-x">
                    <div class="cell large-12">
                        <img src="Logo.png" alt="Logo" style="width: 15vw">
                        <p style="color: white; font-weight: bold">Martellini Construction</p>
                    </div>
                    <div class="cell large-12">

                        <div class="footer__navigation">
                            <ul class="footer__list">
                                <li class="footer__item"><a href="/" class="footer__link">Home</a></li>
                                <li class="footer__item"><a href="about" class="footer__link">About</a></li>
                                <li class="footer__item"><a href="services" class="footer__link">Services</a></li>
                                <li class="footer__item"><a href="contact" class="footer__link">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cell large-12">
                        <p class="footer__copyright">
                            Built by <a href="#" class="footer__link" >Dylan Godfrey</a> Content is subjected to copyright infringement.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
  </body>
</html>