.nav-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #2c3840;
    height: 12vh;
   
  }
  header {
    height: 75vh;
  }
  .nav-bar .nav-bar-logo {
    padding: 0 1vh 0 2vh;
  }
  
  .nav-bar li {
    background: #2c3840;
  }
  
  .nav-bar a {
    color: #fefefe;
    transition: color 0.2s ease-in;
  }
  
  .nav-bar a:hover {
    color: #a8b8c3;
  }
  
  
  .nav-bar .offcanvas-trigger {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.6rem;
    color: #fefefe;
    text-transform: uppercase;
    background-color: #566d7c;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
  }
  
  .nav-bar .offcanvas-trigger .offcanvas-trigger-text {
    margin-right: 0.25rem;
    margin-top: 0.25rem;
  }
  
  .nav-bar .offcanvas-trigger:hover {
    background-color: #6b879a;
  }
  
  @media screen and (max-width: 39.9375em) {
    .nav-bar .offcanvas-trigger {
      padding: 0.9rem;
    }
  }
  
  .multilevel-offcanvas {
    background: #222b31;
    padding: 20px;
    color: #fefefe;
  }
  
  .multilevel-offcanvas > .menu {
    margin-bottom: 1rem;
  }
  
  .multilevel-offcanvas .menu a {
    color: rgba(254, 254, 254, 0.6);
    padding-top: 7px;
    padding-bottom: 7px;
    transition: color 0.2s ease-in;
  }
  
  .multilevel-offcanvas .menu a:hover {
    color: #fefefe;
  }
  
  .multilevel-offcanvas .fa {
    color: #fefefe;
  }
  
  .multilevel-offcanvas .is-accordion-submenu-parent > a::after {
    border-color: rgba(254, 254, 254, 0.6) transparent transparent;
  }
  
  .multilevel-offcanvas .social-links {
    margin-left: 20px;
  }
  
  .multilevel-offcanvas .social-links li {
    margin-right: 5px;
  }
  
  .multilevel-offcanvas .social-links a:hover .fa {
    color: #bebebe;
    transition: color .2s ease-in;
  }
  
  .multilevel-offcanvas .social-links .fa {
    font-size: 2.2rem;
  }
  
  
  
  .is-open + .off-canvas-content .hamburger .line:nth-child(1),
  .is-open + .off-canvas-content .hamburger .line:nth-child(3) {
    width: 12px;
  }
  
  .is-open + .off-canvas-content .hamburger .line:nth-child(1) {
    -webkit-transform: translateX(-5px) rotate(-45deg);
        -ms-transform: translateX(-5px) rotate(-45deg);
            transform: translateX(-5px) rotate(-45deg);
  }
  
  .is-open + .off-canvas-content .hamburger .line:nth-child(3) {
    -webkit-transform: translateX(-5px) rotate(45deg);
        -ms-transform: translateX(-5px) rotate(45deg);
            transform: translateX(-5px) rotate(45deg);
  }
  
  .hamburger .line {
    width: 20px;
    height: 2px;
    background-color: #fefefe;
    display: block;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger .line:last-child {
    margin-bottom: 0;
  }

  .logo {
    display: block;
    width: 50px;
    height: 50px;
  }

  .header-text {
    padding: 50px 3vh;
    display: block;
    font-weight: bolder;
    color: #2D3840;
  }
  .absolute {
    position: absolute;
    top: 0%;

  }
  .relative {
    position: relative;
    height: 100%;
  }
  .button {
    position: absolute;
    display: block;
    top: 80%;
    left: 10%;
  }
  .section-features {
    margin: 50px;
     backface-visibility: hidden;
}

.feature-box {
  background-color: dimgray;
  opacity: .8;
  font-size: 1.5rem;
 
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2.5rem 5rem black;
  transition: transform .3s;
}
  .feature-box__icon{
      font-size: 6rem;
      margin-bottom: .5rem;
      display: inline-block;
      -webkit-background-clip: text;
      color: transparent;

  
  }
  .feature-box:hover {
      transform: translateY(-1.5rem) scale(1.03);
  }
  .feature-box__text {
    color: white;
  }
  .feature-picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

    .feature-picture--1 {
        background-image: linear-gradient(to right bottom, lightblue, rgba(228, 123, 25, 0.271)),
                            url(../images/houses3-sm.jpeg);
    }

    .feature-picture--2 {
      background-image: linear-gradient(to right bottom, lightblue, rgba(228, 123, 25, 0.271)),
                          url(../images/houses2-sm.jpeg);
  }

  .feature-picture--3 {
    background-image: linear-gradient(to right bottom, steelblue, rgba(228, 123, 25, 0.271)),
                        url(../images/houses-sm.jpeg);
}
  
.certification {
  background: steelblue;
  opacity: .8;

}

