//colors
$color-primary: #fc9541;
$color-primary-light: #f0ae78;
$color-primary-dark: #e76901;
$color-grey-light-1: #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-dark-2: rgb(61, 60, 60);
$color-grey-dark-3: rgb(43, 42, 42);
$color-white: #fff;
$color-black: #000;

$color-grey-dark-2: #999;
//grid vars
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;


//font
$default-font-size: 1.6rem;